


<nav class="#ad1457  pink darken-3 ">
  <!-- <div class="nav-wrapper"> -->

    <ul class="left">
    <li onclick="Materialize.toast('Welcome to Dashboard', 2000)"><a href="#!" class=" boo left brand-logo #b3e5fc-text light-blue-text lighten-4  waves-effect waves-light btn-lg  " ><i class="material-icons blue-text boo">group_add</i></a></li>
    
    </ul>
    <ul class="right hide-on-sm-and-down">    
      <!-- <li><a href="sass.html"><i class="material-icons  blue-text text-darken-2 ">search</i></a></li> -->
      <li  class=" z-depth-3 waves-effect waves-light btn-lg  "><a href="" routerLink="/"  onclick="Materialize.toast('Welcome to Dashboard', 2000)"><i class="material-icons blue-text text-darken-2  ">dashboard</i></a></li>
      <!-- <li><a href="collapsible.html"><i class="material-icons  blue-text text-darken-2 ">refresh</i></a></li> -->
      <!-- <li  class=" z-depth-5 waves-effect waves-light btn-lg  "><a href="https://github.com/RichieMessi/Angular-Firebase-Crud-" target="_blank"><i class="material-icons  blue-text text-darken-2 ">more_vert</i>Github</a></li> -->
      <li  class=" z-depth-5 waves-effect waves-light btn-lg  "><a href="https://github.com/RichieMessi/Angular-Firebase-Crud-" target="_blank">Github</a></li>
      

      
    </ul>

    <!-- #757575 grey darken-1 -->
  <!-- </div> -->


</nav><br><br><br>