

<!-- 
<nav class="#ad1457  pink darken-3 ">

    <ul class="left">
    <li onclick="Materialize.toast('Welcome to Dashboard', 2000)"><a href="#!" class=" boo left brand-logo #b3e5fc-text light-blue-text lighten-4  waves-effect waves-light btn-lg  " ><i class="material-icons blue-text boo">group_add</i></a></li>
    
    </ul>
    <ul class="right hide-on-sm-and-down">    
      <li  class=" z-depth-3 waves-effect waves-light btn-lg  "><a href="" routerLink="/"  onclick="Materialize.toast('Welcome to Dashboard', 2000)"><i class="material-icons blue-text text-darken-2  ">dashboard</i></a></li>
      <li  class=" z-depth-5 waves-effect waves-light btn-lg  "><a href="https://github.com/RichieMessi/Angular-Firebase-Crud-" target="_blank">Github</a></li>
      

      
    </ul>


</nav><br><br><br> -->



<nav class="#ad1457  pink darken-3 ">
  <div class="nav-wrapper">
    <!-- <a href="#!" class="brand-logo">Logo</a> -->
    <a onclick="Materialize.toast('Welcome to Dashboard', 2000)"><a href="#!" class=" boo left brand-logo #b3e5fc-text light-blue-text lighten-4  waves-effect waves-light btn-lg "><i class="material-icons blue-text boo">group_add</i></a></a>        
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li  class=" z-depth-3 waves-effect waves-light btn-lg  "><a href="" routerLink="/"  onclick="Materialize.toast('Welcome to Dashboard', 2000)"><i class="material-icons blue-text text-darken-2  ">dashboard</i></a></li>
      <li  class=" z-depth-5 waves-effect waves-light btn-lg  "><a href="https://github.com/RichieMessi/Angular-Firebase-Crud-" target="_blank">Github</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>